/**
 * Criar uma conta em https://mlab.com/ e configurar
 * as credenciais aqui
 */

module.exports = {
    username: "Foo",
    password: "correcthorsebatterystaple",
    host: "xyz123.mlab.com:35724",
    dbname: "meu-banco"
}